*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  background-color: #f8f891;
}

.profileList{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profileContent{
 width: 300px;
 margin: 2rem;
 font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 30px;
  margin-bottom: 1rem;
}

.profileimg{
  width: 70%;
}